.enemyImage {
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 65%;
  width: auto;

  z-index: 0;
}

.deathAnim {
  animation: death 0.5s ease-out forwards;
}

@keyframes death {
  0% {
    opacity: 1;
    transform: translate(-50%, -0%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 25%);
  }
}

.topBarContainer {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-color: rgba(240, 248, 255, 0.751); */
}

.enemyName {
  font-size: 2.5vw;
  text-shadow: 0.25vw 0.25vw 0vw rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 700;
}

.enemyHealthBar {
  width: 50vw;
  height: 5vh;
  background-color: rgba(146, 146, 146, 0.845);
  border: 0.25vw solid rgba(43, 43, 43, 0.83);
  border-radius: 0.2vw;
  background-clip: padding-box;
}

.enemyHealthBarFill {
  width: 100%;
  height: 100%;
  background-color: rgb(220, 36, 15);
  border-radius: 0.2vw;
  background-clip: padding-box;
}

.damageCont {
  position: fixed;
  transform: translate(-50%, -50%);
  font-size: 5vw;

  z-index: 100;

  color: red;
  font-weight: 700;

  animation: fadeOutUp 0.5s ease-in-out forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

.comboCont {
  position: fixed;
  top: 52%;
  right: 7%;

  transform: translateY(-50%);

  z-index: 100;
}

.comboCont:after {
  content: "";
  position: absolute;
  top: 16%;
  left: -25%;
  width: 150%;
  height: 75%;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.comboText {
  text-shadow: 0.25vw 0.25vw 0vw rgba(0, 0, 0, 0.5);
  font-size: 5vw;
  font-weight: 700;
  line-height: 1;

  color: rgb(255, 255, 255);
}

.comboText span {
  color: rgb(255, 128, 0);
}

.damageText {
  text-shadow: 0.15vw 0.15vw 0vw rgba(0, 0, 0, 0.5);
  font-size: 2.25vw;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 3vw;

  color: #ffffff;
}

.damageText span {
  color: red;
}

.leftBoxPos,
.rightBoxPos {
  position: fixed;
  top: 63%;
  left: 50%;
  transition: transform 0.5s ease-out, top 0.5s ease-in;
  z-index: 1;
}
.leftBoxPos {
  transform: translate(-108%, 0%);
}

.rightBoxPos {
  transform: translate(8%, 0%);
}

.leftCardBox,
.rightCardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  position: relative;
}

/* .leftCardBox:after,
.rightCardBox:after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: -0.5vw;

  width: calc(100% + 1vw);
  height: 20%;
}

.leftCardBox:after {
  --lbColor: #006aff;
  border-bottom: var(--lbColor) 0.2vw solid;
  border-left: var(--lbColor) 0.2vw solid;
  border-right: var(--lbColor) 0.2vw solid;
}

.rightCardBox:after {
  --rbColor: #15ff00;
  border-bottom: var(--rbColor) 0.2vw solid;
  border-left: var(--rbColor) 0.2vw solid;
  border-right: var(--rbColor) 0.2vw solid;
} */

.bottomCenter {
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
}

.rollAgainButton {
  width: 35vw;
  height: 11vh;
  font-size: 2vw;

  background-color: rgb(6, 198, 216);
  border: 0.25vw solid rgba(43, 43, 43, 0.43);
  background-clip: padding-box;
  color: white;
  cursor: pointer;
}

.selectionButton {
  width: 34vw;
  height: 11vh;
  font-size: 2vw;

  color: white;
  background-color: aqua;
  border: 0.25vw solid rgba(43, 43, 43, 0.43);
  background-clip: padding-box;

  cursor: pointer;
}

.selectionButtonLeft {
  background-color: #126be6cc;
}

.selectionButtonRight {
  background-color: #21e40fcc;
}
