.comboCont {
  position: fixed;
  top: 43%;
  right: 10%;

  transform: translateY(-50%);

  z-index: 100;
}

.comboCont:after {
  content: "";
  position: absolute;
  top: 16%;
  left: -25%;
  width: 150%;
  height: 75%;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.comboText {
  text-shadow: 0.25vw 0.25vw 0vw rgba(0, 0, 0, 0.5);
  font-size: 5vw;
  font-weight: 700;
  line-height: 1;

  color: rgb(255, 255, 255);
}

.comboText span {
  color: rgb(255, 128, 0);
}

.damageText {
  text-shadow: 0.15vw 0.15vw 0vw rgba(0, 0, 0, 0.5);
  font-size: 2.25vw;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 3vw;

  color: #ffffff;
}

.damageText span {
  color: red;
}

.skillButton{
  position: fixed;
  top: 46%;
  left: 2%;
  transform: translateY(-50%);
  width: 20vw;
  height: 4vw;
  border: none;
  background: linear-gradient(to right, #000000cf, #00000000);
  color: white;
  font-size: 1.6vw;
  text-align: start;
  padding-left: 2vw;
  cursor: pointer;

  border-left: white 0.3vw solid;
}

.skillButton:after{
  content: "Active Skill:";
  position: absolute;
  top: -18%;
  left: 3%;
  font-size: 1vw;
}

.skillButton:hover{
  background: linear-gradient(to right, #2a2a2acf, #00000000);
}

.leftBoxPos,
.rightBoxPos {
  position: fixed;
  bottom: 37%;
  left: 50%;
  z-index: 1;
}
.leftBoxPos {
  transform: translate(-108%, 0%);
}

.rightBoxPos {
  transform: translate(8%, 0%);
}

.leftCardBox,
.rightCardBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 0.5vw;
  position: relative;
}

/* .leftCardBox:after,
.rightCardBox:after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: -0.5vw;

  width: calc(100% + 1vw);
  height: 20%;
}

.leftCardBox:after {
  --lbColor: #006aff;
  border-bottom: var(--lbColor) 0.2vw solid;
  border-left: var(--lbColor) 0.2vw solid;
  border-right: var(--lbColor) 0.2vw solid;
}

.rightCardBox:after {
  --rbColor: #15ff00;
  border-bottom: var(--rbColor) 0.2vw solid;
  border-left: var(--rbColor) 0.2vw solid;
  border-right: var(--rbColor) 0.2vw solid;
} */

.bottomCenter {
  position: fixed;
  bottom: 6vh;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;

  z-index: 10;
}

.selectionButton {
  width: 34vw;
  height: 11vh;
  font-size: 2vw;

  color: white;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(55, 55, 55, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );

  cursor: pointer;
}

.selectionButton:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(73, 73, 73, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );

}