.comboCont {
  position: fixed;
  top: 52%;
  right: 7%;

  transform: translateY(-50%);

  z-index: 100;
}

.comboCont:after {
  content: "";
  position: absolute;
  top: 16%;
  left: -25%;
  width: 150%;
  height: 75%;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.comboText {
  text-shadow: 0.25vw 0.25vw 0vw rgba(0, 0, 0, 0.5);
  font-size: 5vw;
  font-weight: 700;
  line-height: 1;

  color: rgb(255, 255, 255);
}

.comboText span {
  color: rgb(255, 128, 0);
}

.damageText {
  text-shadow: 0.15vw 0.15vw 0vw rgba(0, 0, 0, 0.5);
  font-size: 2.25vw;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 3vw;

  color: #ffffff;
}

.damageText span {
  color: red;
}

.leftBoxPos,
.rightBoxPos {
  position: fixed;
  top: 63%;
  left: 50%;
  transition: transform 0.5s ease-out, top 0.5s ease-in;
  z-index: 1;
}
.leftBoxPos {
  transform: translate(-108%, 0%);
}

.rightBoxPos {
  transform: translate(8%, 0%);
}

.leftCardBox,
.rightCardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  position: relative;
}

/* .leftCardBox:after,
.rightCardBox:after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: -0.5vw;

  width: calc(100% + 1vw);
  height: 20%;
}

.leftCardBox:after {
  --lbColor: #006aff;
  border-bottom: var(--lbColor) 0.2vw solid;
  border-left: var(--lbColor) 0.2vw solid;
  border-right: var(--lbColor) 0.2vw solid;
}

.rightCardBox:after {
  --rbColor: #15ff00;
  border-bottom: var(--rbColor) 0.2vw solid;
  border-left: var(--rbColor) 0.2vw solid;
  border-right: var(--rbColor) 0.2vw solid;
} */

.bottomCenter {
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
}

.rollAgainButton {
  width: 35vw;
  height: 11vh;
  font-size: 2vw;

  background-color: rgb(6, 198, 216);
  border: 0.25vw solid rgba(43, 43, 43, 0.43);
  background-clip: padding-box;
  color: white;
  cursor: pointer;
}

.selectionButton {
  width: 34vw;
  height: 11vh;
  font-size: 2vw;

  color: white;
  background-color: aqua;
  border: 0.25vw solid rgba(43, 43, 43, 0.43);
  background-clip: padding-box;

  cursor: pointer;
}

.selectionButtonLeft {
  background-color: #126be6cc;
}

.selectionButtonRight {
  background-color: #21e40fcc;
}
