.MainUIRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 99999;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.BarCont {
  position: absolute;
  top: 5vh;
  right: 5vh;
  text-align: end;
}

.GoldCont{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5vh;
}

.GoldImage {
  width: 5vh;
  height: 5vh;
  margin-top: 0.5vh;
  display: inline-block;
}

.GoldText {
  font-size: 4.5vh;
  font-weight: 700;
  color: white;
  display: inline-block;

}

.activePassives{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  margin-top: 2vh;

  font-size: 1vw;
  color: white;
}
